.topShare {
        width: 100%;
        height: 2rem;
        text-align: center;
        background: #c1ad53;
        padding: 1rem;
        > h1 {
                margin: 0;
                font-size: 1.5rem;
                color: #000;
        }

}
.nameImg {
        width: 100%;
        height: 12rem;
        background: red;
}
.content {
        width: 100%;
        position: relative;
        top: 0;
        overflow-y: hidden;
        > .masking {
                width: 100%;
                height: 100%;
                position: fixed;
                background: #999999;
                opacity: 0.5;
                transition: all 0.5s;
                z-index:10;
        }
}
.cf {
        width: 15.3rem;
        height: 50rem;
        background: #fff;
        position: absolute;
        right: 0;
        z-index: 10;
        top: 16rem;
        background: red;
}
.rightNav {
        transition: all 0.5s;
        width: 15.3rem;
        background: #fff;
        position: absolute;
        right: -100%;
        z-index: 11;
        top: 16rem;
        box-shadow: 0 1px 5px #000000;
        > ul {
                width: 100%;
                margin: 0;
                box-sizing: border-box;
                list-style: none;
                padding: 0;
            > li {
                    width: 100%;
                    padding: 1rem;
                    text-align: left;
            }
        }
}
